@font-face {
    font-family: 'Raleway-Regular';
    src: url('assets/fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('assets/fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Catamaran-ExtraBold';
    src: url('assets/fonts/catamaran/Catamaran-ExtraBold.ttf') format('truetype');
}

body {
    -webkit-app-region: drag;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Raleway-Regular', sans-serif;
    overflow: hidden;
}

h4, h5, h6 {
    color: gray;
    font-family: 'Catamaran-ExtraBold', sans-serif;
    margin: 0;
}