* {
    -webkit-app-region: drag;
}

button, input, select {
    -webkit-app-region: no-drag;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('assets/fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('assets/fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Catamaran-ExtraBold';
    src: url('assets/fonts/catamaran/Catamaran-ExtraBold.ttf') format('truetype');
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Raleway-Regular', sans-serif;
}

.sidebar {
    width: 100px;
    height: 390px;
    background-color: #000000;
    float: left;
    padding: 5px;
    color: #FFFFFF;
    margin: 0px;
}

.main {
    width: 475px;
    height: 390px;
    background-color: #CCCCCC;
    float: left;
    padding: 5px;
    margin: 0px;
}

.visualization {
    width: 225px;
    height: 390px;
    padding: 5px;
    float: left;
    margin: 0px;
}

.logo {
    -webkit-app-region: no-drag;
    width: 100px;
    height: 70px;
    background-image: url('assets/logo/logo.png');
    background-color: #000000;
}

.refresh {
    margin-top: 50px;
}

.refresh label {
    font-size: 10pt;
    font-style: italic;
}

.refresh select {
    margin-top: 10px;
    width: 100px;
}

.refresh button {
    margin-top: 20px;
    width: 100px;
}

.status {
    margin-top: 100px;
    font-size: 10pt;
    text-align: center;
}

.indicator {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
}

.statusClosed {
    background-color: gray;
}

.statusError {
    background-color: red;
}

.textError {
    color: red;
}

.statusOK {
    background-color: green;
}

.textOK {
    color: green;
}

#dataStatusText, #marketStatusText {
    font-weight: bold;
}

.marketState p, .dataState p {
    margin: 5px 0px 10px 0px;
}

.main h1 {
    font-family: 'Catamaran-ExtraBold', sans-serif;
}

#ticker, #targetPrice, #days {
    height: 48px;
    background-color: #0E0E0E;
    text-align: center;
    font-size: 20pt;
    color: #E0E0E0;
}

#ticker {
    width: 120px;
    text-align: center;
}

#targetPrice {
    width: 120px;
    text-align: center;
}

#days {
    width: 60px;
    text-align: right;
}

#chance {
    font-size: 80pt;
    font-family: 'Catamaran-ExtraBold', sans-serif;
    border: 1px solid black;
    margin: 20px 0px 0px 0px;
    text-align: center;
}

.selections {
    border: 1px solid black;
    text-align: center;
}

#refreshTime {
    text-align: center;
    font-style: italic;
}

svg {
    border: 1px solid black;
}

#lastClose {
    margin: 6px 0;
    text-align: center;
    font-style: italic;
}

#lastCloseValue {
    font-family: 'Raleway-SemiBold', sans-serif;
}

.axis path, .axis line {
    stroke: gray;
}

.axis text {
    fill: gray;
    font-family: 'Raleway-Regular', sans-serif;
}

text.chart {
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 10pt;
}

text.chart.label {
    fill: gray;
    font-size: 8pt;
}

text.chart.label.current {
    fill: red;
}

text.chart.label.target {
    fill: purple;
    font-size: 10pt;
}