* {
    -webkit-app-region: drag;
}

button, input, select {
    -webkit-app-region: no-drag;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('assets/fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('assets/fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Catamaran-ExtraBold';
    src: url('assets/fonts/catamaran/Catamaran-ExtraBold.ttf') format('truetype');
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Raleway-Regular', sans-serif;
    background-color: #552B00;
}

.sidebar {
    width: 100px;
    height: 390px;
    float: left;
    padding: 5px;
    margin: 0px;
    border-right: 2px solid #552B00;
}

.main {
    width: 475px;
    height: 390px;
    float: left;
    padding: 5px;
    margin: 0px;
}

.visualization {
    width: 225px;
    height: 390px;
    padding: 5px;
    float: left;
    margin: 0px;
}

.logo {
    -webkit-app-region: no-drag;
    width: 100px;
    height: 100px;
    background: url('assets/icons/png/96x96.png') no-repeat;
}

.refresh {
    margin-top: 50px;
}

.refresh label {
    font-size: 10pt;
    font-style: italic;
}

.refresh select {
    margin-top: 10px;
    color: #552B00;
    width: 100px;
    height: 28px;
    border: 2px solid #552B00;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: url('assets/images/divider.png') no-repeat 80% 0;
    padding: 3px;
    outline: none;
}

.refresh button {
    margin-top: 20px;
    width: 100px;
    height: 24px;

    border: 1px solid #552B00;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    background-color: #804B15;
    color: #FFD5AA;
    outline: none;
}

.refresh button:hover {
    background-color: #552B00;
}

.status {
    margin-top: 55px;
    font-size: 10pt;
    text-align: center;
}

.indicator {
    border-radius: 12px;
    border: 1px solid #000000;
    width: 12px;
    height: 12px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 1px #333333;
}

.statusClosed {
    background-color: gray;
}

.statusError {
    background-color: #FF3300;
}

.textError {
    color: #FF3300;
}

.statusOK {
    background-color: #105E27;
}

.textOK {
    color: #105E27;
}

.statusUpdating {
    background-color: orange;
}

.textUpdating {
    color: orange;
}

#dataStatusText, #marketStatusText {
    font-weight: bold;
}

.marketState p, .dataState p {
    margin: 5px 0px 10px 0px;
}

.main h1 {
    font-family: 'Catamaran-ExtraBold', sans-serif;
    color: #07113A;
    text-shadow: 1px 1px 1px #172457;
}

#ticker, #targetPrice, #days {
    height: 48px;
    text-align: center;
    font-size: 20pt;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    border: 2px solid #003F13;
    color: #2A7E43;
    text-shadow: 1px 1px 1px #003F13;
    background-color: #7EBD91;
    outline: none;
}

#ticker:focus, #targetPrice:focus, #days:focus {
    box-shadow: 1px 1px 1px #333333;
}

#ticker {
    width: 120px;
    text-align: center;
}

#targetPrice {
    width: 120px;
    text-align: center;
}

#days {
    width: 60px;
    text-align: right;
}

#chance {
    font-size: 80pt;
    font-family: 'Catamaran-ExtraBold', sans-serif;
    margin: 20px 0px 0px 0px;
    text-align: center;

    border: 1px solid #07113A;
    border-radius: 10px;
    color: #07113A;
    text-shadow: 1px 1px 1px #172457;
    background-color: #7B85AE;
}

.selections {
    text-align: center;
}

#refreshTime {
    text-align: center;
    font-style: italic;
    color: #333333;
}

svg {
    border: 1px solid #172457;
    border-radius: 5px;
}

#lastClose {
    margin: 6px 0;
    text-align: center;
    font-style: italic;
}

#lastCloseValue {
    font-family: 'Raleway-SemiBold', sans-serif;
}

.axis path, .axis line {
    stroke: gray;
}

.axis text {
    fill: gray;
    font-family: 'Raleway-Regular', sans-serif;
}

text.chart {
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 10pt;
}

text.chart.label {
    fill: gray;
    font-size: 8pt;
}

text.chart.label.current {
    fill: #172457;
}

text.chart.label.target {
    fill: #07113A;
    font-size: 10pt;
    font-weight: bold;
}